importing libraries

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
data = pd.read_csv("student_performance_300.csv")
data.head()

,student_id,school,gender,study_hours_week,study_method,attendance_rate,midterm_score,final_score,passed_final,socioeconomic_idx
0,1,C,Male,13.13,Solo,99.44,25.74,30.82,No,0.90
1,2,A,Female,10.65,Group,65.95,26.03,26.69,No,0.20
2,3,C,Male,14.23,Tutor,86.75,33.78,32.63,No,0.34
3,4,C,Male,17.68,Group,98.89,39.71,26.54,No,0.51
4,5,A,Female,14.51,Group,97.30,32.50,28.89,No,0.50

In [4]:
data.describe()

,student_id,study_hours_week,attendance_rate,midterm_score,final_score,socioeconomic_idx
count,300.000000,300.000000,300.000000,300.000000,300.00000,300.000000
mean,150.500000,12.325333,85.334133,31.307667,36.33900,0.596400
std,86.746758,5.273495,9.652695,10.829502,13.05293,0.231585
min,1.000000,0.000000,58.530000,1.300000,2.16000,0.200000
25%,75.750000,8.777500,79.272500,24.180000,27.49500,0.397500
50%,150.500000,12.430000,85.490000,31.720000,37.73500,0.590000
75%,225.250000,15.287500,92.602500,38.090000,45.17000,0.792500
max,300.000000,28.270000,100.000000,59.830000,67.41000,1.000000

In [5]:
data.dtypes

student_id             int64
school                object
gender                object
study_hours_week     float64
study_method          object
attendance_rate      float64
midterm_score        float64
final_score          float64
passed_final          object
socioeconomic_idx    float64
dtype: object

Simple Random Sampling

In [6]:
simple_random_sampling = data.sample(n=6, random_state=90)
print(simple_random_sampling)

     student_id school  gender  study_hours_week study_method  \
83           84      A  Female             14.68        Group
170         171      B  Female             10.68         Solo
137         138      C  Female             21.56        Tutor
164         165      B    Male             16.12         Solo
242         243      C    Male              4.38         Solo
162         163      B    Male             12.27        Group

     attendance_rate  midterm_score  final_score passed_final  \
83             80.26          35.37        42.26           No
170            81.77          23.39        19.88           No
137            91.40          25.10        35.98           No
164            75.63          15.19         9.68           No
242            80.24          20.34        45.68           No
162            83.81          24.52        37.94           No

     socioeconomic_idx
83                0.42
170               0.63
137               0.20
164               0.79
242               0.69
162               0.34

Strata Sampling

In [7]:
strata_simple = []
for name,group in data.groupby(['gender', 'school']):
    k = min(5, len(group))
    strata_simple.append(group.sample(n=k))
print(strata_simple)

[     student_id school  gender  study_hours_week study_method  \
184         185      A  Female             23.71        Tutor
291         292      A  Female             15.19        Group
180         181      A  Female             13.88        Tutor
218         219      A  Female             20.90        Group
157         158      A  Female             10.05         Solo

     attendance_rate  midterm_score  final_score passed_final  \
184            87.11          32.48        39.59           No
291            79.63          28.73        30.70           No
180            94.19          19.83        14.67           No
218            80.88          41.29        44.14           No
157            75.05          21.25        28.21           No

     socioeconomic_idx
184               0.63
291               0.98
180               0.51
218               0.28
157               0.68  ,      student_id school  gender  study_hours_week study_method  \
143         144      B  Female             18.78         Solo
237         238      B  Female              8.88        Group
76           77      B  Female              8.38         Solo
296         297      B  Female             10.63         Solo
67           68      B  Female             14.29         Solo

     attendance_rate  midterm_score  final_score passed_final  \
143            86.54          56.15        60.33          Yes
237            71.37          16.63        30.13           No
76             90.45          23.03        31.50           No
296            69.56          34.11        37.52           No
67             94.75          30.75        37.73           No

     socioeconomic_idx
143               0.73
237               0.58
76                0.71
296               0.59
67                0.93  ,      student_id school  gender  study_hours_week study_method  \
10           11      C  Female             12.55         Solo
105         106      C  Female             10.83        Tutor
135         136      C  Female             12.55        Group
152         153      C  Female              9.41        Tutor
27           28      C  Female              2.63         Solo

     attendance_rate  midterm_score  final_score passed_final  \
10             87.56          32.03        37.27           No
105            82.64          34.78        37.24           No
135            75.71          31.50        49.91           No
152            70.74          12.35        14.80           No
27             91.37          23.65        21.38           No

     socioeconomic_idx
10                0.58
105               0.87
135               0.78
152               0.80
27                0.56  ,      student_id school gender  study_hours_week study_method  attendance_rate  \
103         104      A   Male             13.05         Solo            86.90
89           90      A   Male             11.77         Solo            83.41
69           70      A   Male             16.13        Tutor            86.02
25           26      A   Male             14.47        Group            92.44
259         260      A   Male             25.08        Tutor            68.74

     midterm_score  final_score passed_final  socioeconomic_idx
103          22.01        27.66           No               0.88
89           38.87        53.65          Yes               0.20
69           32.92        40.65           No               0.31
25           30.99        39.36           No               0.63
259          29.32        36.54           No               0.39  ,      student_id school gender  study_hours_week study_method  attendance_rate  \
35           36      B   Male             13.82        Group            94.28
79           80      B   Male              4.54        Group            91.38
66           67      B   Male             10.41         Solo            75.94
65           66      B   Male             13.19         Solo            82.99
261         262      B   Male             14.47        Group           100.00

     midterm_score  final_score passed_final  socioeconomic_idx
35           44.67        53.77          Yes               0.86
79           45.27        62.16          Yes               0.39
66           15.82        31.43           No               0.27
65           35.29        38.43           No               0.76
261          45.18        40.12           No               0.64  ,      student_id school gender  study_hours_week study_method  attendance_rate  \
36           37      C   Male             17.72        Group            84.03
239         240      C   Male             20.23        Tutor            62.15
229         230      C   Male              5.54        Group           100.00
0             1      C   Male             13.13         Solo            99.44
110         111      C   Male              8.22         Solo            90.19

     midterm_score  final_score passed_final  socioeconomic_idx
36           43.87        46.30           No               0.26
239          42.25        48.95           No               1.00
229          17.97        18.87           No               0.52
0            25.74        30.82           No               0.90
110          19.74        22.29           No               0.37  ]

In [8]:
df = pd.concat(strata_simple)
df

,student_id,school,gender,study_hours_week,study_method,attendance_rate,midterm_score,final_score,passed_final,socioeconomic_idx
184,185,A,Female,23.71,Tutor,87.11,32.48,39.59,No,0.63
291,292,A,Female,15.19,Group,79.63,28.73,30.70,No,0.98
180,181,A,Female,13.88,Tutor,94.19,19.83,14.67,No,0.51
218,219,A,Female,20.90,Group,80.88,41.29,44.14,No,0.28
157,158,A,Female,10.05,Solo,75.05,21.25,28.21,No,0.68
143,144,B,Female,18.78,Solo,86.54,56.15,60.33,Yes,0.73
237,238,B,Female,8.88,Group,71.37,16.63,30.13,No,0.58
76,77,B,Female,8.38,Solo,90.45,23.03,31.50,No,0.71
296,297,B,Female,10.63,Solo,69.56,34.11,37.52,No,0.59
67,68,B,Female,14.29,Solo,94.75,30.75,37.73,No,0.93
10,11,C,Female,12.55,Solo,87.56,32.03,37.27,No,0.58
105,106,C,Female,10.83,Tutor,82.64,34.78,37.24,No,0.87
135,136,C,Female,12.55,Group,75.71,31.50,49.91,No,0.78
152,153,C,Female,9.41,Tutor,70.74,12.35,14.80,No,0.80
27,28,C,Female,2.63,Solo,91.37,23.65,21.38,No,0.56
103,104,A,Male,13.05,Solo,86.90,22.01,27.66,No,0.88
89,90,A,Male,11.77,Solo,83.41,38.87,53.65,Yes,0.20
69,70,A,Male,16.13,Tutor,86.02,32.92,40.65,No,0.31
25,26,A,Male,14.47,Group,92.44,30.99,39.36,No,0.63
259,260,A,Male,25.08,Tutor,68.74,29.32,36.54,No,0.39
35,36,B,Male,13.82,Group,94.28,44.67,53.77,Yes,0.86
79,80,B,Male,4.54,Group,91.38,45.27,62.16,Yes,0.39
66,67,B,Male,10.41,Solo,75.94,15.82,31.43,No,0.27
65,66,B,Male,13.19,Solo,82.99,35.29,38.43,No,0.76
261,262,B,Male,14.47,Group,100.00,45.18,40.12,No,0.64
36,37,C,Male,17.72,Group,84.03,43.87,46.30,No,0.26
239,240,C,Male,20.23,Tutor,62.15,42.25,48.95,No,1.00
229,230,C,Male,5.54,Group,100.00,17.97,18.87,No,0.52
0,1,C,Male,13.13,Solo,99.44,25.74,30.82,No,0.90
110,111,C,Male,8.22,Solo,90.19,19.74,22.29,No,0.37

In [9]:
df.to_csv("strata_simple.csv")

Descriptive Statistics

In [10]:
numerical = ["study_hours_week", "attendance_rate", "midterm_score", "final_score"]
row =[]
for i in numerical:
    s = data[i]
    rows = {
        "variable": i,
        "count" : len(s),
        "mean" : s.mean(),
        "median" : s.median(),
        "variance" : s.var(),
        "standard_deviation" : s.std(),
        "minimum" : s.min(),
        "maximum" : s.max(),
        "range" : s.max() - s.min(),
        "q1" : s.quantile(0.25),
        "q2" : s.quantile(0.50),
        "q3" : s.quantile(0.75),
        "iqr" : s.quantile(0.25) - s.quantile(0.75),
        "skewness" : s.skew()
    }
    row.append(rows)
descriptive_statics = pd.DataFrame(row)

In [11]:
print(descriptive_statics)

           variable  count       mean  median    variance  standard_deviation  \
0  study_hours_week    300  12.325333  12.430   27.809755            5.273495
1   attendance_rate    300  85.334133  85.490   93.174520            9.652695
2     midterm_score    300  31.307667  31.720  117.278110           10.829502
3       final_score    300  36.339000  37.735  170.378982           13.052930

   minimum  maximum  range       q1      q2       q3     iqr  skewness
0     0.00    28.27  28.27   8.7775  12.430  15.2875  -6.510  0.121889
1    58.53   100.00  41.47  79.2725  85.490  92.6025 -13.330 -0.340541
2     1.30    59.83  58.53  24.1800  31.720  38.0900 -13.910 -0.074325
3     2.16    67.41  65.25  27.4950  37.735  45.1700 -17.675 -0.182267

In [12]:
descriptive_statics.to_csv("desc_stats.csv",index=False)

OutLier Detection using IQR

In [13]:
for i in numerical:
    p = df[i]
    q1 = p.quantile(0.25)
    q3 = p.quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5*iqr
    upper = q1 + 1.5*iqr
    outliers = p[(s<lower)|(s>upper)]
print(outliers)

143    60.33
135    49.91
89     53.65
35     53.77
79     62.16
Name: final_score, dtype: float64

Outlier Detection using z score

In [ ]:
from scipy.stats import chi2_contingency,f_oneway,ttest_ind,ttest_rel,pearsonr

In [19]:
for i in numerical:
    p = df[i]
    outlier_z = np.abs(stats.zscore(p))
    z = p[outlier_z>3]
print(z)

Series([], Name: final_score, dtype: float64)

hypothesis testing